*{
    padding: 0px;
    margin: 0px;
}
.donate-today-header{
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    color:#FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode:luminosity;
    background-image: linear-gradient(to bottom right,to top , rgb(22, 21, 21));
}
.donate-today-header
.donate-today-nav{
    text-align: center;
   padding-top: 175px;
   padding-left: 150px;
   padding-right: 140px;

}
.dth-title{
    font-size: 4.5rem;
}
.dth-description{
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.3;
}
.dth-btn{
    width: 180px;
    height: 65px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: navy;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 30px;
    
}
